body {
	background: #d2d2c1 url(imgs/fundo.png);
	font: 16px Arial, Helvetica, sans-serif ;
}

a:link, a:visited {
	color: #767391;
	text-decoration: none;
}

.img-campanha {
	border: 10px solid #c3c3ae;
	margin: 0 10px;
}

#capa{
	width: 80%;
}

#cabecalho{
	background-color: #C5C5B2;
	width: 80%;
}

#menu {
	text-align: center;
	list-style-type: none;
	display: inline-flex;
}

#menu li{
	padding-right: 15px;
	font-family: arial;
	font-weight: bold;
	text-align: left;
}

#conteudo {
	background-color: #e8e8d9;
	width: 80%;
}

#sobre {
	font-size: 1.2em;
	margin: 0;
	color: #9c9279;
	font-family: arial;

}

#rodape {
	width: 80%;
}

#direitos {
	text-align: center;
}